body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  backdrop-filter: blur(10px);
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 8px;
  border: none;
  border-radius: 8px;
}

button {
  background: #ff7eb3;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: rgba(255,255,255,0.2);
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

li:hover {
  transform: scale(1.02);
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.meta {
  font-size: 12px;
  opacity: 0.8;
}

.high { border-left: 5px solid red; }
.medium { border-left: 5px solid orange; }
.low { border-left: 5px solid green; }

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.progress-container {
  background: rgba(255,255,255,0.2);
  height: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

#progress {
  height: 10px;
  width: 0%;
  background: #00ffcc;
  border-radius: 10px;
  transition: 0.3s;
}